@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* .btn-primary {
  @apply background-green-600 text-white px-6 py-2 rounded-lg transition-colors duration-300;
}
.btn {
  @apply !capitalize;
} */

/* It makes the HTML progress bar filling smooth when value change. */
/* progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
} */
